* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #7e22ce;
  --color-succes: #86efac;
  --color-warning: #fdba74;
  --color-danger: #fca5a5;
  --color-text: #1f2937;
  --color-text-gray: #adadad;
  --color-background: #f9fafb;
  --color-white: #ffffff;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p,
li {
  line-height: 1.4rem;
}

code {
  color: var(--color-primary);
}

pre code.hljs {
  border-radius: 6px;
}

.tip,
.warning {
  margin: 16px 0;
  padding: 14px;
  border-radius: 4px;
}

.tip {
  background-color: var(--color-succes);
}

.warning {
  background-color: var(--color-warning);
}

section {
  padding: 30px 50px;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  height: 60px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 10;
}

.menu {
  font-size: 38px;
  color: var(--color-white);
}

.nav {
  position: absolute;
  background-color: var(--color-white);
  left: 0;
  top: -600%;
  width: 100%;
  opacity: 0;
  padding: 30px;
  text-align: center;
  box-shadow: -1px 7px 20px -11px rgba(29, 7, 48, 0.75);
  border-radius: 0 0 16px 16px;
  z-index: 0;
}

.nav-show {
  top: 60px;
  opacity: 1;
}

.nav__list {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
}

.nav__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.step {
  margin-left: 18px;
}

#installation {
  padding-top: 90px;
}

footer {
  background-color: var(--color-text-gray);
  text-align: center;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .nav {
    position: static;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
  }

  .menu {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__link {
    color: var(--color-white);
  }

  .nav__link:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 30px 120px;
  }
}
